/* فونت وزیرمتن لوکال */
@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/vazirmatn-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/vazirmatn-bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/vazirmatn-extrabold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/vazirmatn-black.woff2') format('woff2');
    font-weight: 900;
}

/* کل پنل RTL */
html {
    direction: rtl;
}

body {
    font-family: 'Vazirmatn', sans-serif;
}

/* راست‌چین کردن جدول‌ها */
.fi-ta-table {
    direction: rtl;
}

/* ورودی‌ها */
input, textarea {
    direction: rtl;
    text-align: right;
}

/* دکمه‌ها */
button {
    direction: rtl;
}